.container {
  min-height: 100%;
  height: 100%;
}

.modal-body {
  width: 400px;
  margin: 0 auto;
}

.panel-body {
  width: 280px;
  margin: 0 auto;
}

h2 {
  margin: 0;
}

.sortorder:after {
  content: '\25b2';
}

.sortorder.reverse:after {
  content: '\25bc';
}