<html ng-app="practicaltest">
  <head>
    <base href="/">
    <title>Practical Test</title>
  </head>
  <body>
    <div id="main" class="container">
      <div class="jumbotron">
        <a ng-href="/"><h1>Practical Test</h1></a>
        <div ng-view></div>
      </div>
    </div>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/ui-bootstrap-custom-2.5.0-csp.css">
    <link rel="stylesheet" href="/css/custom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
    <script src="/js/ui-bootstrap-custom-tpls-2.5.0.min.js"></script>
    <script src="/app.js"></script>
    <script src="/services/clients.js"></script>
    <script src="/services/providers.js"></script>
    <script src="/controllers/main.js"></script>
    <script src="/controllers/modalctrl.js"></script>
    <script src="/controllers/modalinsctrl.js"></script>
    <script src="/filters/phone.js"></script>
  </body>
</html>